/* Webfont: Thunder-ExtraBoldLC */
@font-face {
  font-family: "Thunder-Bold";
  src: url("fonts/Thunder-ExtraBoldLC.woff") format("woff"),
    url("fonts/Thunder-ExtraBoldLC.woff2") format("woff2"),
    url("fonts/Thunder-ExtraBoldLC.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Thunder-LC */
@font-face {
  font-family: "Thunder";
  src: url("fonts/Thunder-LC.woff") format("woff"),
    url("fonts/Thunder-LC.woff2") format("woff2"),
    url("fonts/Thunder-LC.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
