@use "variables";

$root-size: var(--root-size);

.offscreen {
  position: absolute;
  left: -9999px;
}

.nowrap {
  white-space: nowrap;
}

.center {
  display: grid;
  place-content: center;
}

.underline {
  text-decoration: underline;
}

.c-align {
  text-align: center;
}

.small-fs {
  font-size: var(--small-fs);
}

.contrast-50 {
  filter: contrast(0.5);
}

.title {
  font-size: var(--title-fs);
  font-weight: var(--title-fw);
  letter-spacing: calc($root-size * 0.2);
  text-align: center;
}

.section {
  display: flex;
  flex-direction: column;
  gap: $root-size;
}
