@use "fonts" as *;
@use "mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --theme-palette: #a91d3a;
  --theme-gradient: linear-gradient(135deg, var(--theme-palette), var(--bg));

  /* Backgrounds */
  --bg: #000;
  --button-bg: #fefefe;
  --a-bg: #121414;
  --detailer__line-bg: linear-gradient(var(--bg), var(--theme-palette));
  --experience__line-bg: #818181;
  --dot__wings-bg: white;
  --dot__head-bg: white;
  --bird-nose-bg: #ffc375;

  /* Colors */
  --heading-color: #fefefe;
  --primary-color: #969696;
  --button-color: #000;

  /* Sizes */
  --root-size: 1rem;
  --container-max-width-fb: calc(60vw + var(--root-size) * 10);
  /* -- Links to experience-container (MUST CHECK FOR CHANGE) -- */
  --container-max-width: calc(60svw + var(--root-size) * 10);
  --section-padding-tb: calc(var(--root-size) * 4);

  /* Fonts */
  --ff: "Inter", sans-serif;
  --fs: var(--root-size);
  --heading-ff: "Thunder-Bold", "Inter", sans-serif;
  --heading-font-weight: 900;
  --title-fs: calc(var(--root-size) * 0.7);
  --title-fw: 300;
  --small-fs: calc(var(--root-size) * 0.813);

  /* Borders */
  $border-thin: 0.7px;
  --menu-border: #{$border-thin} solid #2a2a2a;
  --menu-border-radius: calc(var(--root-size) * 2);

  /* Animations */
  --hero-ani-duration: 0.5s;
  --timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  --floating-animation: floating-animation 1s infinite linear;
  --wings-animation-speed: 3s;
  --bird-follow-animation-speed: 0.5s;

  /* Transitions */
  --hero-transition: var(--hero-ani-duration) var(--timing-function);

  /* Coordinates */
  --X: 0;
  --Y: 0;

  @include responsive("extra-large") {
    --title-fs: calc(var(--root-size) * 1.3);
    --fs: calc(var(--root-size) * 1.7);
    --small-fs: var(--root-size);
  }
}
