@use "reset";
@use "general" as *;
@use "utility";
@use "mixins" as *;

/* BLOCKS */

#root {
  padding: 0 calc($root-size * 2);
  max-width: var(--container-max-width-fb); /* Fall Back */
  max-width: var(--container-max-width);
  margin: auto;
}

.hero,
.about,
.experience {
  @extend %fill-page;
  padding: var(--section-padding-tb) 0;
  position: relative;
}

.dot {
  pointer-events: none;
  $offset: 5rem;
  position: absolute;
  width: 5rem;
  aspect-ratio: 2;
  top: calc(var(--section-padding-tb) + $offset);
  animation: dot-follow-animation-exit var(--bird-follow-animation-speed)
      forwards,
    var(--floating-animation);
  z-index: 9999;

  /* Bird Styling */
  display: none;
  grid-template-areas: "bird";

  @include responsive("laptop") {
    display: grid;
  }
}

:is(.hero, .about, .experience):hover .dot {
  animation: dot-follow-animation-enter var(--bird-follow-animation-speed)
    forwards;
}

.hero > .dot {
  align-self: flex-end;
}

@keyframes dot-follow-animation-enter {
  from {
    translate: 0 0;
  }
  to {
    translate: var(--X) var(--Y);
  }
}

@keyframes dot-follow-animation-exit {
  from {
    translate: var(--X) var(--Y);
  }
  to {
    translate: 0 0;
  }
}

.dot > * {
  grid-area: bird;
}

.dot__wings {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  left: 50%;
  translate: -50%;
  border-radius: 50%;
  box-shadow: inset 0 5px 0 var(--dot__wings-bg);
  z-index: -1;
  transform-origin: 100% 0;
  animation: wings-animation var(--wings-animation-speed) infinite linear;
}

.dot__head {
  width: 15%;
  aspect-ratio: 1;
  background: var(--dot__head-bg);
  border-radius: 50% 50% 20% 20%;
  justify-self: center;
  position: relative;
}

/* Bird's Nose */
.dot__head::after {
  content: "";
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 0;
  width: 50%;
  aspect-ratio: 1;
  background: var(--bird-nose-bg);
  border-radius: 100% 0 20% 0;
  rotate: z 45deg;
}

/* Bird Wings Animation */
@keyframes wings-animation {
  50% {
    transform: rotateX(-1440deg);
  }
}

/* Bird Floating Animation */
@keyframes floating-animation {
  40% {
    transform: rotateZ(2deg) translate(5px, 15px);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 3rem;

  @include responsive("laptop") {
    flex-direction: row;
    padding-bottom: 10rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  z-index: 1;
  background: var(--bg);
  display: flex;
  padding: 4px;
  border: var(--menu-border);
  border-radius: var(--menu-border-radius);
  position: sticky;
  top: 15px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.detailer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ELEMENTS */

.hero__h1 {
  font-size: 4rem;

  @include responsive("laptop") {
    font-size: 6rem;
  }

  @include responsive("extra-large") {
    font-size: 10rem;
  }
}

.hero__title__char {
  position: relative;
}

.hero__title__char::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--heading-color);
  mix-blend-mode: hard-light;
  transition: 0.2s linear;
  animation: hero-title-ani calc(2 * var(--hero-ani-duration))
    var(--timing-function) var(--hero-ani-duration) forwards;
}

@keyframes hero-title-ani {
  0% {
    background: var(--theme-palette);
    width: 0%;
  }

  50% {
    width: 100%;
  }

  99% {
    width: 0%;
    background: var(--theme-palette);
  }
  100% {
    width: 100%;
    // background: unset;
  }
}

.hero__title__char:hover::before {
  background: var(--theme-palette);
}

.hero__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: calc($root-size * 2);

  @include responsive("tablet") {
    width: fit-content;

    & > .hero__button:nth-child(even) {
      animation: hero-even-buttons-ani var(--hero-ani-duration)
        var(--timing-function) var(--hero-ani-duration) forwards;
    }

    & > .hero__button:nth-child(odd) {
      animation: hero-odd-buttons-ani var(--hero-ani-duration)
        var(--timing-function) var(--hero-ani-duration) forwards;
    }
  }
}

@keyframes hero-even-buttons-ani {
  to {
    translate: 60px 0;
    rotate: Z 5deg;
  }
}

@keyframes hero-odd-buttons-ani {
  to {
    rotate: Z -3deg;
  }
}

.menu__a {
  padding: calc($root-size * 0.6) calc($root-size * 1.2);
  border-radius: inherit;
  transition: background 0.5s ease-in-out;

  &:first-child {
    background: var(--theme-gradient);
  }
}

.detailer__line {
  height: 4rem;
  width: 1px;
  background: var(--detailer__line-bg);
}

.detailer__blob {
  height: 100%; /* idk wtf this makes apsect-ratio work */
  aspect-ratio: 1;
  border-radius: 50%;
  padding: calc($root-size * 0.5);
  background: var(--theme-gradient);
}

.detailer__num {
  color: black;
  font-weight: 300;
}

.detailer__name {
  padding-top: calc($root-size * 0.5);
  position: relative;
}

.detailer__name::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: var(--theme-gradient);
  mix-blend-mode: darken;
}

.about__logos {
  display: flex;
  gap: $root-size;
  flex-wrap: wrap;
  place-content: center;
}

.about__logo,
.experience__logo {
  aspect-ratio: 1;
}

.about__logo {
  width: calc($root-size * 3);

  @include responsive("extra-large") {
    width: calc($root-size * 4);
  }
}

/* This Animation is added through Observer in About.jsx */
@keyframes about__logo-ani {
  from {
    rotate: z -180deg;
    opacity: 0;
  }

  to {
    rotate: z 0;
    opacity: 1;
  }
}

.experience__logo {
  width: calc($root-size * 1.5);
  background: var(--bg);

  @include responsive("laptop") {
    $width: calc($root-size * 3.5);
    width: $width;
    position: absolute;
    inset: 0;
    left: calc(50% - $width/2);
    top: calc(50% - $width/2);
    padding: calc($root-size * 0.75);
  }

  @include responsive("extra-large") {
    $width: calc($root-size * 5);
    width: $width;
    position: absolute;
    inset: 0;
    left: calc(50% - $width/2);
    top: calc(50% - $width/2);
    padding: $root-size;
  }
}

.experience__data {
  display: flex;
  flex-direction: column;
  padding: $root-size;
  border: var(--menu-border);
  border-radius: 10px;
  gap: calc($root-size * 0.5);

  @include responsive("laptop") {
    max-width: 60vw; /* Fall Back */
    max-width: 60svw;
  }
}

.experience__timeline {
  font-size: var(--title-fs);
  font-weight: var(--title-fw);
}

.experience__container {
  $gap: calc($root-size * 0.5);
  display: flex;
  flex-direction: column;
  gap: $gap;
  position: relative;

  @include responsive("laptop") {
    flex-direction: row;
    gap: calc($gap * 10);
    justify-content: end;
    &:nth-child(even) {
      flex-direction: row-reverse;
      justify-content: start;
    }
    & > * {
      flex-basis: 50%;
    }
    &:nth-child(odd) > .experience__detail {
      flex-direction: row-reverse;
    }
  }

  @include responsive("extra-large") {
    gap: calc($gap * 15);
  }
}

.experience__detail {
  display: flex;
  align-items: center;
  gap: calc($root-size * 0.5);
}

.experience__list {
  display: flex;
  flex-direction: column;
  gap: $root-size;
  position: relative;
}

.experience__line {
  display: none;
  background: var(--experience__line-bg);

  @include responsive("laptop") {
    $width: 1px;
    display: block;
    position: absolute;
    inset: 0;
    left: calc(50% - $width/2);
    width: $width;
  }
}

/* Experience Animations are added through Observer in Experience.jsx */
@keyframes experience-ani-even {
  0% {
    translate: -1.5rem;
  }

  75% {
    translate: 1rem;
  }

  85% {
    translate: -0.25rem;
  }

  100% {
    translate: 0;
  }
}

@keyframes experience-ani-odd {
  0% {
    translate: 1.5rem;
  }

  75% {
    translate: -1rem;
  }

  85% {
    translate: 0.25rem;
  }

  100% {
    translate: 0;
  }
}

/* MODIFIERS */
