@use "reset";
@use "general" as *;
@use "utility";
@use "mixins" as *;

/* BLOCKS */

#root {
  padding: calc($root-size * 2);
}

#root > * {
  max-width: var(--container-max-width-fb); /* Fall Back */
  max-width: var(--container-max-width);
  margin: auto;
}

.hero,
.about,
.experience {
  @extend %fill-page;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc($root-size * 2);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  z-index: 1;
  display: flex;
  padding: 4px;
  border: var(--menu-border);
  border-radius: var(--menu-border-radius);
  position: sticky;
  top: 15px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.detailer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ELEMENTS */

.hero__pp {
  width: calc($root-size * 5);
  aspect-ratio: 1;
  border-radius: 50%;
}

.hero__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: $root-size;
  @include responsive("tablet") {
    flex-direction: row;
  }

  & > button:first-child {
    background: var(--special-button-bg);
    color: var(--special-button-color);
  }
}

.menu__a {
  background: var(--a-bg);
  padding: calc($root-size * 0.6) calc($root-size * 1.2);
  border-radius: inherit;
}

.detailer__line {
  height: 4rem;
  width: 0.5px;
  background: var(--detailer__line-bg);
}

.detailer__num {
  aspect-ratio: 1;
  border-radius: 50%;
  text-align: center;
  padding: calc($root-size * 0.5);
  background: linear-gradient(135deg, white, var(--bg));
  color: black;
  font-weight: 300;
}

.detailer__name {
  padding-top: calc($root-size * 0.5);
}

.about__logos {
  display: flex;
  gap: $root-size;
  flex-wrap: wrap;
  place-content: center;
}

.about__logo,
.experience__logo {
  aspect-ratio: 1;
}

.about__logo {
  width: calc($root-size * 3);
}

.experience__logo {
  width: calc($root-size * 1.5);
  background: var(--bg);

  @include responsive("laptop") {
    $width: calc($root-size * 3.5);
    width: $width;
    position: absolute;
    inset: 0;
    left: calc(50% - $width/2);
    top: calc(50% - $width/2);
    padding: calc($root-size * 0.75);
  }
}

.experience__data {
  display: flex;
  flex-direction: column;
  padding: $root-size;
  border: var(--menu-border);
  border-radius: 10px;
  gap: calc($root-size * 0.5);

  @include responsive("laptop") {
    max-width: 60vw; /* Fall Back */
    max-width: 60svw;
  }
}

.experience__timeline {
  font-size: var(--title-fs);
  font-weight: var(--title-fw);
}

.experience__container {
  $gap: calc($root-size * 0.5);
  display: flex;
  flex-direction: column;
  gap: $gap;
  position: relative;

  @include responsive("laptop") {
    flex-direction: row;
    gap: calc($gap * 10);
    justify-content: end;
    &:nth-child(even) {
      flex-direction: row-reverse;
      justify-content: start;
    }
    & > * {
      flex-basis: 50%;
    }
    &:nth-child(odd) > .experience__detail {
      flex-direction: row-reverse;
    }
  }
}

.experience__detail {
  display: flex;
  align-items: center;
  gap: calc($root-size * 0.5);
}

.experience__list {
  display: flex;
  flex-direction: column;
  gap: $root-size;
  position: relative;
}

.experience__line {
  display: none;
  background: var(--experience__line-bg);

  @include responsive("laptop") {
    $width: 0.5px;
    display: block;
    position: absolute;
    inset: 0;
    left: calc(50% - $width/2);
    width: $width;
  }
}

/* MODIFIERS */
